<div class="container">
  <div id="about">
    <section class="my-5">
      <h2 class="h1-responsive font-weight-bold text-center my-5">
        About
      </h2>
      <p class="text-center dark-grey-text w-responsive mx-auto mb-5">
        In this application we can see all the superheroes of different brands,
        such as those shown below. Just like you hate having a search engine to
        find your favorite super hero
      </p>

      <div class="row">
        <div class="col-lg-5 col-xl-4">
          <div
            class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light"
            mdbWavesEffect
          >
            <img
              class="img-fluid"
              src="../../../assets/icons/marvel-comics.jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-7 col-xl-8">
          <h3 class="font-weight-bold mb-3">
            <strong>Marvel Comics</strong>
          </h3>
          <p class="dark-grey-text">
            Marvel Worldwide, Inc., conocida como Marvel Comics, es una
            editorial de historietas estadounidense creada en 1939, inicialmente
            con el nombre de Timely Publications.
          </p>
        </div>
      </div>

      <hr class="my-5" />

      <div class="row">
        <div class="col-lg-5 col-xl-4">
          <div
            class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light"
            mdbWavesEffect
          >
            <img
              class="img-fluid"
              src="../../../assets/icons/DC-Comics-header.jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-7 col-xl-8">
          <h3 class="font-weight-bold mb-3">
            <strong>DC Comics</strong>
          </h3>
          <p class="dark-grey-text">
            DC Comics es una editorial de cómics estadounidense. Forma parte de
            DC Entertainment, ​ una de las empresas que conforman Warner Bros.
            Entertainment, la cual a su vez es propiedad de WarnerMedia. Fue
            fundada en 1934 bajo el nombre National Allied Publications, para
            luego tomar el nombre de DC Comics en 1937.
          </p>
        </div>
      </div>

      <hr class="my-5" />

      <div class="row">
        <div class="col-lg-5 col-xl-4">
          <div
            class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light"
            mdbWavesEffect
          >
            <img
              class="img-fluid"
              src="../../../assets/icons/Dark-Horse-logo-banner.jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-7 col-xl-8">
          <h3 class="font-weight-bold mb-3">
            <strong>Dark Horse Comics</strong>
          </h3>
          <p class="dark-grey-text">
            Dark Horse Comics es una editorial independiente de cómics
            estadounidense que desarrolla y publica su material de manera
            autónoma. La empresa fue fundada en 1986 por el escritor y
            publicista Mike Richardson, naciendo como una extensión de una
            cadena de cómics llamada Things from Another World
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
