.Search {
  margin-top: 11%;
  display: flex;
  justify-content: center;
}

#cardtop {
  width: 100%;
  // margin-top: 10%;
}
#load {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
}
