<div class="container">
  <span id="load" *ngIf="loading">
    <div class="spinner-grow text-primary" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </span>

  <ng-container *ngIf="!loading">
    <section id="description " class="mt-5">
      <h2 class="h1 py-5 font-weight-bold text-center">
        {{ DescripcionHero.HeroName }}
      </h2>

      <div class="row pt-2">
        <div class="col-lg-5 text-center text-lg-left">
          <img
            [src]="DescripcionHero.HeroImage"
            alt=""
            class="img-fluid z-depth-0"
          />
        </div>

        <div class="col-lg-7">
          <!--Grid row-->
          <div class="row pb-3 mt-5">
            <div class="col-2 col-md-1">
              <mdb-icon
                fas
                icon="reply"
                size="lg"
                class="indigo-text"
              ></mdb-icon>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                First apparition
              </h5>
              <p class="grey-text text-left">
                {{ DescripcionHero.Hero1Aparicion }}
              </p>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <mdb-icon
                fas
                icon="reply"
                size="lg"
                class="indigo-text"
              ></mdb-icon>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                Full name
              </h5>
              <p class="grey-text text-left">
                {{ DescripcionHero.HeroFullName }}
              </p>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <mdb-icon
                fas
                icon="reply"
                size="lg"
                class="indigo-text"
              ></mdb-icon>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                Work
              </h5>
              <p class="grey-text text-left">{{ DescripcionHero.HeroWork }}</p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <mdb-icon
                fas
                icon="reply"
                size="lg"
                class="indigo-text"
              ></mdb-icon>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                Race
              </h5>
              <p class="grey-text text-left">{{ DescripcionHero.HeroRaza }}</p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <mdb-icon
                fas
                icon="reply"
                size="lg"
                class="indigo-text"
              ></mdb-icon>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">
                Publisher
              </h5>
              <p class="grey-text text-left">{{ DescripcionHero.HeroMarca }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- ESTADISTICAS -->

      <hr class="my-5" />

      <h2 class="h1-responsive font-weight-bold text-center my-5">
        Statistics
      </h2>
      <p class="text-center w-responsive mx-auto mb-5">
        Superpower is a term in popular culture that describes superhuman
        qualities typical of fiction.
      </p>

      <div class="row">
        <div class="col-lg-12">
          <h3 class="font-weight-bold">
            <strong>Statistics {{ DescripcionHero.HeroName }}</strong>
          </h3>
          <p class="font-weight-bold mt-3">Intelligence</p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped"
              role="progressbar"
              [style.width.%]="DescripcionHero.intelligence"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <p class="font-weight-bold mt-3">Strength</p>

          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              [style.width.%]="DescripcionHero.strength"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <p class="font-weight-bold mt-3">Speed</p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-info"
              role="progressbar"
              [style.width.%]="DescripcionHero.speed"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <p class="font-weight-bold mt-3">Durability</p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-warning"
              role="progressbar"
              [style.width.%]="DescripcionHero.durability"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <p class="font-weight-bold mt-3">Power</p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-primary"
              role="progressbar"
              [style.width.%]="DescripcionHero.power"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <p class="font-weight-bold mt-3">Combat:</p>
          <div class="progress mb-5">
            <div
              class="progress-bar progress-bar-striped bg-danger"
              role="progressbar"
              aria-valuenow="100"
              [style.width.%]="DescripcionHero.combat"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>
