<div class="container">
  <!-- Cargando -->

  <span id="load" *ngIf="loading">
  <div class="spinner-grow text-primary" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</span>




<ng-container *ngIf="!loading">
  <div id="cardtop">
    <!-- row cagapalos -->
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let hero of ArrayHeros">
        <app-cards [HeroInput]="hero"></app-cards>
      </div>
    </div>
    <!-- fin row cagapalo -->
  </div>

  <span>
    <nav>
      <ul class="pagination pg-dark">
        <li class="page-item">
          <a
          class="page-link"
          aria-label="Previous"
          (click)="paginacionLeft()"
          mdbWavesEffect
          >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li class="page-item active">
        <a class="page-link" mdbWavesEffect>{{ indicePaginacion }}</a>
      </li>

      <li class="page-item">
        <a
        class="page-link"
        aria-label="Next "
        (click)="paginacionRight()"
        mdbWavesEffect
        >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</span>
</ng-container>


</div>
