<div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
  <img
    [src]="HeroInput.HeroImage"
    class="img-fluid"
    alt="Sample project image"
  />
  <a>
    <div class="mask rgba-white-slight"></div>
  </a>
</div>

<mdb-card-body class="mt-3">
  <h4>
    <strong>{{ HeroInput.HeroName }}</strong>
  </h4>

  <a
    mdbBtn
    color="dark"
    size="sm"
    class="waves-light"
    mdbWavesEffect
    (click)="goToDescription(HeroInput.HeroId)"
  >
    <mdb-icon far icon="clone" class="left"></mdb-icon> Ver Mas</a
  >
</mdb-card-body>
